@define-mixin make-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--container-gap) * 0.5);
    padding-left: calc(var(--container-gap) * 0.5);
    width: 100%;
}
