@define-mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@define-mixin reset-btn {
    margin: 0;
    border: none;
    background: transparent;
    padding: 0;
    width: auto;
    overflow: visible;
    color: inherit;
    font: inherit;
    line-height: normal;
}
