@define-mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@define-mixin reset-btn {
    margin: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    width: auto;
    overflow: visible;
    color: inherit;
    font: inherit;
    line-height: normal;
}

@define-mixin reset-select {
    @mixin reset-btn;

    -webkit-appearance: none;
    -moz-appearance: none;
}
