<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'root::partials/head.twig' %}
    </head>
    <body class="layout">
        {% include 'root::partials/header.twig' %}

        {% block page %}
            {% for data in global[page].sections %}
                {% include 'root::partials/sections/' ~ data.section ~ '.twig' with data %}
            {% endfor %}
        {% endblock %}

        {% include 'root::partials/footer.twig' %}

        <script type="module" src="/assets/scripts/main.js"></script>
    </body>
</html>
