<section class="action">
    <div class="container">
        <div class="action__content">
            {% if data.title %}
                <h2 class="action__title">{{ data.title }}</h2>
            {% endif %}
            {% if data.actions|length %}
                <div class="action__actions">
                    {% for action in data.actions %}
                        <a href="{{ action.link }}" class="btn btn--{{ action.style }}">{{ action.label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
