<section class="hero">
    <div class="container">
        <h1 class="hero__title">Design Social Media Ads and Posts Using AI</h1>
        <div class="paragraph hero__paragraph">
            <p>Start by selecting a template from the gallery</p>
        </div>
        <div class="hero__actions">
            <a href="/pricing.html" class="btn btn--secondary">Pricing</a>
            <a href="#" class="btn btn--primary">Create Now</a>
        </div>
    </div>
    <div class="hero__images">
        <svg class="hero__mockup" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 840 480">
            <foreignObject x="0" y="0" width="100%" height="100%">
                <body xmlns="http://www.w3.org/1999/xhtml">
                    <img src="images/hero-main.png" alt="Main" />
                    <img src="images/hero-header.png" alt="Header" />
                    <img src="images/hero-sidebar-left.png" alt="Sidebar left" />
                    <img src="images/hero-sidebar-right.png" alt="Sidebar right" />
                    <img src="images/hero-template.png" alt="Template" />
                </body>
            </foreignObject>
        </svg>
    </div>
    <div class="container">
        <div class="paragraph">
            <p>Trusted by big-time companies, who win big-time revenue</p>
        </div>
        <div class="hero__logos">
            <img src="images/logos/1.svg" alt="Logo placeholder" />
            <img src="images/logos/2.svg" alt="Logo placeholder" />
            <img src="images/logos/3.svg" alt="Logo placeholder" />
            <img src="images/logos/4.svg" alt="Logo placeholder" />
            <img src="images/logos/5.svg" alt="Logo placeholder" />
        </div>
    </div>
</section>
