<div class="container">
    <h1>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="/images/sprite.svg#checkmark"></use>
        </svg>
        {{ title ~ ' - ' ~ foo }}
    </h1>
    <button class="btn" data-counter></button>
</div>
